@import pamm.domain.project.model.Project
@(projectMenu: Html)
@web.user.user(projectMenu) {
    <form name="memberForm" class="container-fluid" data-ng-submit="addMemberToProject(memberForm)" method="post" novalidate>

        <h1 class="row">Add Project Member</h1>
        <div class="row">
            <div class="col-md-6">
                <div class='form-group'>
                    <label class="required" for="email">Email</label>
                    <input type="email" class="form-control" data-ng-model="member.email"
                    placeholder="Email of the new project member" id="email" name="email" data-lowercase required autofocus>
                    <div data-ng-messages="memberForm.email.$error" data-ng-if="memberForm.$submitted" role="alert">
                        <div data-ng-message="required">Please enter the project member email</div>
                        <div data-ng-message="email">Please correct the entered email</div>
                    </div>
                </div>
            </div>

        </div>


    <footer class="row">
            <div class="pull-right">
                <button type="button" data-ng-click="cancel()" class="btn btn-cancel">Cancel</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </footer>
    </form>


}
