<div class="favourite-panel" data-ng-controller="favouritePanelCtrl">
  <div class="title"><i class="fa fa-star"></i>&nbsp;Favourite Projects</div>
  <ul>
    <li data-ng-repeat="project in favouriteProjects">
      <i class="{{isSelected(project)}} icon border" data-ng-class="isSelected(project)?'pin-on':'pin-off'"
         title="Anchor project" data-ng-click="setAsSelected(project)"></i>
      <a data-ng-click="removeFavourite(project)"><i class="fa fa-close" ></i></a>&nbsp;
      {{project.projectCode}}:{{project.title}}
    </li>
  </ul>
  <div class="alert alert-info" data-ng-if="favouriteProjects.length==0">
    <i class="fa fa-info-circle"></i>&nbsp;No favourite projects
  </div>
</div>
